<!-- 院内认证 -->
<div class="light-dialog auth-dialog light-dialog-with-title" ms-visible="isLoadingCompleted" ms-widget="dialog,authDialog,$authDialogOpt" data-dialog-toggle="false" data-dialog-width="420" ms-controller="auth">
    <div class="auth-content-1">
        <form action="" method="post" class="box-form">
        <div class="auth-logo-1">
            <div class="form-group">
                <label>邮箱用户名</label>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label>邮箱密码</label>
                <input type="password" name="password">
            </div>
        </div>
        <button type="submit">点击登录院内邮箱认证</button>
        </form>
    </div>
    <!-- <div class="auth-content-2">
        <div class="avatar"><img src="images/tmp/avatar.jpg" width="120" height="120" alt=""></div>
        <p class="username">林天祥</p>
        <p>规划三所</p>
        <p>lintianxiang@163.com</p>
    </div> -->
</div>